<div id = "registerForm" >
    <h2 class="">Create a username, IDIOT:</h2>
    <form id = "submitForm" method="post" action="users/register">
      <div class="">
        <input type="text" maxlength="50" class="rightField" placeholder="[name]" name="name">
      </div>
      <div class="">
        <input type="text" maxlength="50" class="rightField" placeholder="[quest]" name="favColor">
      </div>
      <div class="">
        <input type="text" maxlength="50" class="rightField" placeholder="[favorite color]" name="favColor">
      </div>
      <button type="Submit" class="register button">Start Chattin!</button>
    </form>
</div>
